<ospa-blade>
    <div style="height: 100%">
        <div class="menu">
            BLADE NAV 1 : <span (click)="navigateTo('bladegrid1')">GRID 1</span> | <span (click)="navigateTo('bladedetail1')">DETAIL 1</span>
        </div>
        <div class="scroll-vertical">
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
        </div>
        <div class="footer" style="">BLACK</div>
    </div>
</ospa-blade>
