/*@import '../design/apa-design.scss';

#apa-notification-area .fxs-blade {
  border-left-width: 0;
}

.apa-disable-click {
  pointer-events: none;
  opacity: 0.4;
}

.fxs-panorama .fxs-journey-target {
  margin-right: 0;
  margin-left: 0;
}

.fxs-journey > .fxs-journey-layout > :last-child.fxs-stacklayout-child {
  padding-right: 0;
  padding-left: 0;
}*/
