<ospa-blade>
    <div>
        <div>
            BLADE GRID 1 : <span (click)="navigateTo('bladedetail1')">DETAIL 1</span>
        </div>
        <div class="scroll-vertical">
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            The quick brown fox jumps over the lazy dog.<br />
            <p>The quick brown fox jumps over the lazy dog.</p>
        </div>
    </div>
</ospa-blade>
